/* variables */
:root{
    --primary-color: #ffffff;
    --text-color: #6c6c6d;
    --black: #1e1e1e;
    --white: #f5f5f7 ;
    --cozy-padding: 16;
    --blue: #0071e3;
    --gradient : linear-gradient(90deg, rgba(3, 162, 255, 1) 18%, rgba(174, 50, 212, 1) 48%, rgba(225, 17, 38, 1) 83%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #6c6c6d; */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    /* overflow-y: auto; */
}

.nav{
    /* background-color: var(--black); */
    /* width: 375px;  */
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .right-icons{
    display: flex;
    flex-direction: row;
}

.icon-wrapper{
    width: fit-content;
    /* height: fit-content; */

    display: grid;
    /* background-color: var(--white); */

    justify-content: center;
    align-items: center;
    
    padding: 8px; 
}

.post-container{
    background-color: pink ; 
    /* padding-top: 12px ; */
    padding-bottom: 12px ;
    display: flex;
    flex-direction: column;
    gap: 12px;     

}

.post{
    text-align: center;
    height: 436px; 
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
    display: flex; 
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    gap: 16px; 
    
    padding-top: 40px; 
}

.post.black-bg .heading-main,
.post.post.black-bg .heading-sub{
    color: white; 
} 

.post.pos-down{
    flex-direction: column-reverse;
    padding-top: 0px; 
    padding-bottom: 40px; 
}

.post-button{
    display: flex;    
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.heading-main{
    font-size: 28px;
    font-weight: 450;
}
.heading-sub{
    font-size: 16px;
}
.heading-grad{
    font-size: 12px;
    font-weight: 500;
}
.button{
    /* width: 85px;  */
    height: 35px;
    border: 0; 
    color: var(--white);
    padding:6px 12px;
    border-radius: 99px;
    font-size: 12px ;
    display: inline-block; 
    white-space: nowrap;
    justify-content: center;
}
.button.primary{
    background-color:var(--blue);
    align-items: center;
}
.button.secondary{
    background-color: transparent;
    color:var(--blue);  
    border: solid 0.8px var(--blue);
    /* display: inline-block; */
}

.heading-grad{
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}


/* slider  */
.slider{
    /* height: auto; */
    /* height: 526px;  */
    height: 100%; 
    width: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.slider .slider-post{
    /* flex: 1;  */
    height: 526px; 
    position: relative;
    top: 0; 
}

.slider-buttons{
    height: 40px; 
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    bottom: 100px;;

    position: relative;
    top: 0; 
    left: 0; 
    z-index: 1; 
}

.button-tiny-oval{
    width: 8px; 
    height: 8px; 
    border-radius: 99px;
    background-color: var(--text-color);
}

/* style:  left and right vectors :  */
.post-switch{
    width: 100%; 
    height: 100%; 
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 1; 

}
.post-switch .switch-button{
    width: 32px; 
    height: 100%; 
    background-color: rgba(128, 128, 128, 0.508);
    display: flex;
}

.poster{
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    color: white; 
    height: 526px; 
    width: 100vw;
    
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 36px;
    gap: 12px;  

    flex: 0 0 auto ; 
}

.poster-genre{
    font-size: 16px;
    font-weight: 500;
}
.poster-desc{
    font-size: 16px;
}
.button.post-button{
    background-color: white;
    color: black; 
    border: 0;  
}

.slider-post{
    position: relative;
}

.slider-post-container{
    width: 100%; 
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 1;  
    flex: 0 0 auto ; 
}
